a {
  color: white;
  margin: 15px;
  margin-left: 0;
}

body {
  background: #aaa;
  background-image: url(./images/woood2.jpg);
  background-size: cover;
  color: white;
}

h1 {
  text-align: center;
}

.nav-right {
  /* background-color: #000; */
  text-align: right;
  padding-left: 0;
}

.about {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
}

img {
  object-fit: cover;
  border-radius: 50%;
  height: 400px;
  width: 400px;
}

.about-right {
  text-align: center;
  padding: 50px;
}

p {
  text-align: center;
}
